/*הטבעת פונטים*/

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');


/*כללי*/

body {
    direction: rtl;
    background-image: url('../images/background/BGopacity.png');
    font-family: "Assistant", Segoe UI;
    display: flex;
    width: 1280px;
    margin: 0 auto;
}

div, p, h2 {
    font-family: "Assistant", Segoe UI;
}

h1 {
    font-family: 'Amatic SC', Assistant;
    color: #aa9865;
}

a {
    text-decoration: none;
    font-family: 'Assistant',Segoe UI;
    color: black;
}


#insideNav .notActive, table .notActive {
    color: gray;
}



/*--------------------------------------------------------*/


nav {
    background-color: #FFFFFF;
    opacity: 85%;
    height: 60px;
    width: 1280px;
    color: black;
    position: fixed;
    z-index: 4;
}

#navTop > li {
    display: inline;
    text-align: justify;
    position: center;
    font-family: "Assistant",Segoe UI;
    padding: 55px;
    margin: auto;
    line-height: 52px;
    width: 700px; /* לברר קריטיות*/
}

#logoPic {
    height: 50px;
    display: inline-block;
    float: right;
    margin-left: 7px;
    margin-top: 3px;
}

.icons {
    height: 37px;
    float: left;
    padding: 10px;
    display: inline-block;
    margin-left: 8px;
    z-index: 5;
}

.liWord a:hover {
    border-bottom: 4px solid #fccac5;
    transition: 0.3s ease;
}

.notActive {
    cursor: not-allowed;
}

#breadCrumps {
    display: block;
    padding: 10px;
    margin-right: 35px;
}

    #breadCrumps li {
        display: inline-block;
        padding-right: 5px;
        padding-top: 10px;
        font-size: 70%;
    }

        #breadCrumps li:after {
            padding-right: 10px;
            content: ">";
        }

        #breadCrumps li:last-child:after {
            content: "";
            color: #aa9865;
        }


/*--------------------------------------------------------*/


/*תפריט ניווט פנימי*/

#insideNav {
    display: none;
    top: 40px;
    width: 100px;
    border-top: 0px;
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-right: 830px;
}

li:hover #insideNav {
    display: block;
    padding: 3px;
    text-align: center;
    font-family: "Assistant", Segoe UI;
    font-weight: 400;
}


/*--------------------------------------------------------*/

/*תמונה מרכזית*/

#mainHPpic {
    margin-top: 60px;
    background-size: cover;
    width: 1280px;
    height: 570px;
    background-image: url('../images/amit/mainpicmain.png');
}

#mainPicHeader {
    padding-top: 120px;
    margin-right: 640px;
    color: #897136;
    font-weight: 800;
    font-size: 500%;
    text-decoration: underline 3px dotted;
}

#mainPicOpen {
    padding-top: 50px;
    margin-right: 640px;
    color: #a59059;
    font-weight: 400;
    font-size: 180%;
}

#school {
    padding-top: 20px;
    font-weight: 300;
    font-size: 90%;
}

#mainPicCredit {
    margin-top: 217px;
    margin-right: 25px;
    color: #897136;
    font-weight: 400;
    font-size: 100%;
}


/*--------------------------------------------------------*/


/*הצצה לעמודי האתר*/

#preview {
    padding: 50px 120px;
}

.exContainer {
    width: 200px;
    height: 280px;
    text-align: center;
    padding: 12px;
    display: inline-block;
    background-color: #F8D9D4;
    margin: 15px;
    border-radius: 10px;
    transition: 0.3s ease;
}

    .exContainer:hover {
        background-color: #d1c197;
    }

        .exContainer:hover .exHead {
            background-color: #f9f3e4;
        }

.exHead {
    width: 150px;
    height: 18px;
    text-align: center;
    padding: 12px;
    display: inline-block;
    background-color: #FDEEEB;
    border-radius: 10px;
    transition: 0.3s ease;
}


    .exHead a {
        font-family: 'Amatic SC', Assistant;
        font-weight: 600;
        font-size: 150%;
        display: inline;
        margin-bottom: 10px;
    }

.previewImg {
    height: 270px;
    border-radius: 10px;
}


.explain {
    margin-top: 7px;
    margin-bottom: 12px;
}


/*--------------------------------------------------------*/

/*תווית סוף עמוד*/

#logoPicEnd {
    height: 60px;
    display: inline-block;
    margin-right: 590px;
    margin-top: 10px;
}

#rightsEnd {
    display: flex;
    margin-bottom: 20px;
    margin-left: 200px;
    font-size: 85%;
}

#pageEnd {
    width: 1280px;
    height: 90px;
    background-color: #f9d8d4;
    position: absolute;
}

#siteMap {
    margin-right: 30px;
}


/*--------------------------------------------------------*/


/*טופס יצירת קשר*/

.form-container {
    width: 100%;
    border: 8px double #cbb981;
    border-radius: 20px;
    padding: 40px;
    margin: 100px 180px 20px 0px;
    background-color: #f4f1e9;
}

    .form-container > h1 {
        font-size: 500%;
        font-weight: 500;
        margin-bottom: 25px;
        text-align: justify;
    }


.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: "Assistant", Segoe UI;
}

textarea, select, input[type="text"], input[type="date"], input[type="email"] {
    width: 50%;
    padding: 10px;
    font-size: 100%;
    border-radius: 15px;
    border: 1px solid #d1d1d1;
    font-family: "Assistant", Segoe UI;
}

input[type="date"] {
    width: 120px;
}

.termsLink {
    text-decoration: underline;
    color: #aa9865;
}

.terms {
    display: inline;
}

.submit {
    background-color: #cbb981;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 100%;
    border-radius: 5px;
    font-family: "Assistant", Segoe UI;
}

.textPlace {
    width: 80%;
}

.note, .noteToNotice {
    font-size: 100%;
    padding-right: 15px;
}

.picBrush {
    width: 250px;
    float: left;
    margin-left: 30px;
    margin-bottom: 100px;
    transition: 0.2s ease;
}

    .picBrush:hover {
        transform: scale(1) rotate(25deg);
    }

#contactDetails {
    margin-top: 40px;
}

.detail {
    margin-top: 10px;
}

.exContact {
    font-weight: 500;
}



/*--------------------------------------------------------*/



/*אודות*/

.about-container {
    width: 50%;
    border: 8px double #cbb981;
    border-radius: 20px;
    padding: 40px;
    margin: 100px 255px 20px 0px;
    background-color: #f4f1e9;
}

    .about-container p {
        text-align: justify;
        line-height: 26pt;
        margin-top: 20px;
    }

    .about-container > img {
        width: 50%;
        margin-top: 30px;
        margin-right: 148px;
        border-radius: 10px;
    }

#aboutCredits {
    font-size: 65%;
    text-align: center;
}

.about-container h1 {
    font-size: 400%;
}


/*--------------------------------------------------------*/


/*מפת אתר*/

table {
    display: block;
    padding-top: 30px;
    padding-bottom: 96px;
    padding-right: 120px;
}

tr, th, td {
    padding-right: 170px;
    padding-top: 35px;
    font-family: "Assistant", Segoe UI;
    font-size: 100%;
    text-align: center;
    font-weight: 500;
}


    th, th > a {
        font-family: 'Amatic SC', Assistant;
        font-size: 140%;
        font-weight: 700;
        text-align: justify;
    }

.map-container h1 {
    font-size: 400%;
    padding-top: 100px;
    padding-right: 555px;
    text-decoration: underline 3px dotted;
}



/*--------------------------------------------------------*/


/*טיפים*/

.tips-container {
    width: 100%;
    padding-right: 200px;
    padding-bottom: 60px;
}



.tips {
    background-color: #FFFFFF;
    width: 45%;
    padding-right: 10px;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 70px;
    border-radius: 20px;
    text-align: justify;
    transition: 0.2s ease;
}


    .tips:hover {
        transform: translateY(5px);
        box-shadow: 5px 10px 10px 5px #ead8d8;
    }

.tips-container h1 {
    font-size: 300%;
    padding-top: 100px;
    padding-right: 340px;
    text-decoration: underline 3px dotted;
}

.tips > p {
    display: block;
    margin-top: 5px;
    line-height: 20pt;
    padding: 5px 15px 15px 15px;
}

.tips > h2 {
    display: block;
    margin-top: 5px;
    line-height: 20pt;
    padding: 5px 15px 15px 0px;
}

.tips-container > section > img {
    width: 10%;
}

.left, .right {
    display: inline-flex;
    margin-top: 70px;
}


/*--------------------------------------------------------*/


/*מוצרי פנים*/

/*.face-container {
    width: 100%;
    padding-right: 200px;
    padding-bottom: 60px;
}



.face {
    background-color: #FFFFFF;
    width: 45%;
    padding-right: 10px;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 70px;
    border-radius: 20px;
    text-align: justify;
    transition: 0.2s ease;
}


    .face:hover {
        transform: translateY(5px);
        box-shadow: 5px 10px 10px 5px #ead8d8;
    }

.face-container h1 {
    font-size: 300%;
    padding-top: 100px;
    padding-right: 340px;
    text-decoration: underline 3px dotted;
}

.face > p {
    display: block;
    margin-top: 5px;
    line-height: 20pt;
    padding: 5px 15px 15px 15px;
}



.face-container > section > img {
}

.left, .right {
    display: inline-flex;
    margin-top: 70px;
}
*/
.face-container {
    display: block;
    margin-right: 240px;
    margin-top: 100px;
    margin-bottom: 40px;
}


part1, part2, part3 {
    display: inline-block;
    text-align: center;
    padding: 20px;
    margin-right: 400px;
}

.face-container h1 {
    font-size: 300%;
    padding-right: 260px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    text-decoration: underline 3px dotted;
}

.face {
    display: inline-grid;
    text-align: center;
    background-color: white;
    padding: 15px;
    width: 200px;
    height: 400px;
    border-radius: 15px;
    transition: 0.2s ease;
    margin: 12px;
}

.face:hover {
    transform: translateY(5px);
        box-shadow: 5px 10px 10px 5px #ead8d8;
}

.face > h2 {
        display: block;
        margin-top: 5px;
        line-height: 20pt;
}



section > .face > p {
    display: inline-block;
    text-align: center;
    line-height: 20pt;
}

.face-container a {
    text-align: center;
    background-color: #F8D9D4;
    font-size: 100%;
    border-radius: 5px;
    width: 70px;
    height: 20px;
    padding: 10px;
    color: black;
    font-weight: 600;
    transition: 0.2s ease;
    margin-right: 55px;
}

.face-container a:hover {
    transform: translateY(5px);
    box-shadow: 5px 10px 10px 5px #ededed;
    background-color: #af9754;
    color: white;
}

.face img {
    height: 140px;
}

.small {
    margin-right: 72px;
}

.middle {
    margin-right: 50px;
}

.big {
    margin-right: 20px;
}

.emb {
    margin-right: 43px;
}

.blush {
    margin-right: 70px;
}

.con {
    margin-right: 60px;
}

.bron {
    margin-right: 45px;
}
